html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lora", serif;
}

.background {
  background-color: #2e2d4c;
  background-image: url(../images/background-foods-v4.png);
  background-attachment: fixed;
}

.conteudo {
  line-height: 3rem;
  width: 72%;
  margin: 120px auto;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}

.cabecalho {
  text-align: center;
  color: #fff;
  margin: auto;
  padding: 30px;
}

.logo img {
  width: 230px;
}

.navigation li {
  display: inline-block;
  width: 150px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.navigation li a:link,
.navigation li a:visited {
  color: #80808 0;
  text-decoration: none;
}

.navigation li a:hover {
  color: #808080;
  text-decoration: underline;
}

.navigation li a:active {
  color: #2e2d4c;
  text-decoration: underline;
}

.avatar {
  float: left;
  width: 140px;
  padding: 20px;
  margin-right: 20px;
}

.fonte--media {
  font-size: 1.7rem;
}

.titulo {
  font-size: 1.9rem;
  margin-top: 50px;
}

.titulo--fonte {
  font-family: "Exo 2", sans-serif;
}
.habilidades label {
  width: 280px;
  display: inline-block;
}

.habilidades {
  accent-color: #2e2d4c;
}

.fotos img {
  border-radius: 8px;
  width: 420px;
  height: 240px;
  filter: grayscale(0.4);
}

.fotos img:hover {
  filter: none;
}

.btn-inicio {
  font-size: 3rem;
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.3;
}

.btn-inicio:hover {
  opacity: 1;
}

.footer {
  position: relative;
  padding: 120px;
  background-color: #1b1a2f;
  color: #fff;
  text-align: center;
}

.logotipo {
  color: #2e2d4c;
  position: absolute;
  right: 50%;
  z-index: 1;
  transform: translateX(50%);
  font-size: 1.8rem;
  padding-top: 10px;
}

.logomarca.fundo {
  background-color: white;
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 50%;
  margin-top: -50px;
  transform: translateX(50%) rotate(45deg);
}
.logo {
  margin: 90px 0px 20px 0px;
}

.fonte--grande {
  font-size: 55px;
}

.subtitle--color {
  color: rgb(198, 198, 198);
}

h4 {
  font-size: 20px;
}

@media (max-width: 720px) {
  body {
    position: absolute;
  }

  .logo img {
    width: 120px;
  }

  .fonte--grande {
    font-size: 2.6rem;
  }

  .fonte--media {
    font-size: 1.5rem;
  }

  .fonte--pequena {
    font-size: 1.1rem;
  }

  .navigation li {
    width: 130px;
    font-size: 1.1rem;
  }

  .avatar {
    width: 110px;
  }
}
